*{
    box-sizing: border-box;
}

body{
    background-color: #fef3e8;
    cursor: url(Resimler/beige_flower_icon.ico),auto;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(Resimler/beige_navbar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #d2a679;
    margin: 20px;
    padding: 25px;
}
.navbar a{
    text-decoration: none;
    vertical-align: middle;
    color: #392613;
    padding: 5px;
    margin: 10px 15px;
    font-size: large;
    text-shadow: 4px 6px 10px #392613;
}
.navbarRight div{
    display: inline;
}

/* Banner */ 
.introduction{
    background-image: url(Resimler/beige_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    border: 4px double #dfbf9f;
    padding: 100px;
    color:#734d26;
    margin: 20px;
    padding-bottom: 150px;
}
.introduction p{
    font-size: medium;
    margin-bottom: 25px;
}
h1{
    padding-bottom: 30px;
    color: #4d3319;
    font-family: "Lucida Handwriting", cursive;
    font-size: 45px;
}

.cart button{
    float: left; 
    margin-left: 2px;
    margin-top: 6px;
    font-size: large;
    vertical-align: bottom;
}

/* navbar dropdown*/
.dropdown{
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}
.dropdown-menu div{
    padding: 10px 0px;
    border:2px solid #4d2600;
    box-shadow: 5px 1px 5px #392613;
    background-color: #d2a679;
}
.dropdown-menu div:hover{
    background-color: #4d2600;
    color: #f9f2ec;
}
.dropdown-menu div:hover a{
    color:#f9f2ec;
}

/* products flex structure */
#catalog{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgDiv{
    width: 20%;
    border: 3px solid #996633;
    background-color: #ecd9c6;
    border-radius: 8px;
    margin: 25px 15px;
    text-align: center;
}

.imgDiv img:hover{
    opacity: 95%;
    transform: scale(1.2);
}
.imgDiv img{
    transition: .5s;
}

.footer{
    background-color: #ecd9c6;
    padding: 30px;
    text-align: center;
    margin: 3px 5px;
}

/* for responsive design */
@media screen and (max-width: 1200px) {
    .imgDiv{
        width: 45%;
        min-width: 45%;
    }
}

@media screen and (max-width:940px) {
    /* navbar section */
    .dropdown{
        display:none;
    }
    .navbarLeft>a{
        display: none;
    }

    /* products section */
    .imgDiv{
        width: 94%;
        margin: 0px 25px;
        margin-bottom: 30px;
    }
    #catalog{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .navbarLeft{
        display:none;
    }
    .navbarRight{
        margin-left: 25px;
    }
}
