*{
    box-sizing: border-box;
}
body{
    background-image: url(Resimler/beige_cart_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: 100%;
    padding-bottom: 3.7%;
}
.cart{
    margin-top: 0.5%;
    padding-bottom: 0.6%;
}

.form h1, p{
    text-align: center;
    color: #e6ccb3;
    padding-top: 20px;
}
.form h1{
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.form{
    width: 50%;
    background-color: #39261395;
    color: #f9f2ec;
    font-size: large;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 10px;
}
input[type=text], input[type=tel], select, textarea{
    display: block;
    margin: 12px 5px;
    width: 100%;
    height: 35px;
}
fieldset{
    width: 80%;
    margin: auto;
}
textarea{
    height: 80px;
    resize: vertical;
}
input[type=submit]{
    background-color: #f2e6d9;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    font-weight: 700;
    cursor: pointer;
}
.total{
    text-align: center;
    padding: 20px;
    margin: 10px 10%;
    background-color: #39261395;
}

.footer{
    display: block;
    font-size: small;
    font-style: italic;
    text-align: center;
    margin: 10px 0px;
}

/* for responsive design */ 
@media screen and (max-width: 1350px) {
    body{
        padding-bottom: 7%;
    }
}

@media screen and (max-width: 1000px) {
    body{
        padding-bottom: 15%;
    }
    .form{
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    body{
        padding-bottom: 18%;
    }
    .form h1{
        margin-left: 48px;
    }
}

@media screen and (max-width: 550px) {
    .form h1{
        margin-left: 23px;
    }
}

/* for js code */
.success{
    border: 4px solid green;
    background-color: #996633;
    color: #f9f2ec;
}
.error{
    border: 4px solid red;
    background-color: #f2e6d9;
    color:#f2e6d9;
}