*{
    box-sizing: border-box;
}
body{
    background-image: url(Resimler/cart_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: 100%;
    padding-bottom: 60%;
}
.cart{
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 0.5%;
    padding-bottom: 0.6%;
}

.items a{
    text-decoration: none;
    float: right;
    color: #ecd9c6;
    margin-top: 1%;
}
.items h1{
    display: inline;
}
.items{
    width: 50%;
    background-color: #39261395;
    padding: 25px;
    padding-left: 5px;
    color: #f9f2ec;
}
.items-list{
    list-style-type: none;
    color: #f9f2ec;
    max-height: 700px;
    overflow-y: scroll;
}
li img{
    size: 25%;
    max-width: 30%;
}
.items-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f2ec30;
    margin-bottom: 15px;
    padding: 10px;
}
.item-info{
    width: 45%;
}
li h3{
    font-size: 25px;
}
.decrease{
    margin-right: 15px;
    cursor: pointer;
    color: #cc9966;
    font-size: 2rem;
}
.increase{
    margin-left: 15px;
    cursor: pointer;
    color: #cc9966;
    font-size: 2rem;
}
.remove{
    cursor: pointer;
    color: #f9f2ec80;
}

.form{
    width: 50%;
    background-color: #39261395;
    color: #f9f2ec;
    font-size: large;
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 2%;
}
.form h1{
    margin-left: 18%;
}
input[type=text], input[type=tel], select, textarea{
    display: block;
    margin: 12px 5px;
    width: 100%;
    height: 35px;
}
fieldset{
    width: 80%;
}
textarea{
    height: 80px;
    resize: vertical;
}
input[type=submit]{
    background-color: #f2e6d9;
    border-radius: 20px;
    width: 125px;
    height: 30px;
    margin-right: 19%;
    font-weight: 700;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    display: block;
    font-size: small;
    font-style: italic;
    text-align: center;
    margin: 10px 0px;
}

/* for responsive design */ 
@media screen and (max-width: 1430px) {
    body{
        padding-bottom: 75%;
    }
}

@media screen and (max-width: 1200px) {
    body{
        padding-bottom: 85%;
    }
    .items h1{
        margin-left: 100px;
    }
    .items a{
        display: inline-block;
        float: none;
        margin-left: 220px;
    }
}

@media screen and (max-width: 1100px) {
    .items{
        width: 100%;
    }
    .items h1{
        margin-left: 0;
    }
    .items a{
        float: right;
        display: inline;
        margin-left: 65px;
    }
    .form{
        width: 100%;
        padding-left: 18%;
    }
}

@media screen and (max-width: 650px) {
    .items h1{
        margin-left: 100px;
    }
    .items a{
        float: none;
        display: inline;
        margin-left: 230px; 
    }
    .form h1{
        margin-left: 48px;
    }
}

@media screen and (max-width: 550px) {
    .items h1{
        margin-left: 45px;
    }
    .items a{
        display: block;
        margin-left: 180px;
    }

    .form h1{
        margin-left: 23px;
    }
}