*{
    box-sizing: border-box;
}

body{
    background-color: #f9f2ec;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(Resimler/beige_navbar.jpeg);
    margin: 20px;
    position: sticky;
}

.navbar a{
    text-decoration: none;
    color: #392613;
    padding: 5px;
    margin: 10px 15px;
}

.navbarRight div{
    display: inline;
}

.introduction{
    background-image: url(Resimler/beige_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    border: 4px double #dfbf9f;
    padding: 100px;
    color:#734d26;
    margin: 20px;
}

.introduction p{
    font-size: medium;
}

h1{
    padding-bottom: 100px;
    color: #4d3319;
    font-family: 'cursive'; /* DEĞİŞTİR*/
}
 
.dropdown{
    position: relative;
    display: inline;
    cursor: pointer;
}

.dropdownItems{
    position: absolute;
    display: none;
    margin-left: 120px;
}

.dropdownItems div{
    padding: 10px 0px;
    border:2px solid #4d2600;
    box-shadow: 5px 1px 5px #392613;
}

.dropdown:hover .dropdownItems{
    display: block;
    background-color: #cc9966;
    cursor: pointer;
}

.dropdownItems div:hover{
    background-color: #4d2600;
    color: #f9f2ec;
}

.dropdownItems div:hover a{
    color:#f9f2ec;
}

/* products flex structure */
#catalog{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgDiv{
    width: 20%;
    border: 3px solid #996633;
    background-color: #ecd9c6;
    border-radius: 8px;
    margin: 25px 15px;
    text-align: center;
}

.footer{
    background-color: #ecd9c6;
    padding: 30px;
    text-align: center;
    margin: 3px 5px;
}

/* for responsive design */
@media screen and (max-width: 1200px) {
    .imgDiv{
        width: 40%;
        min-width: 40%;
    }
}

@media screen and (max-width:800px) {
    /* navbar section */
    .dropdown{
        display:none;
    }
    .navbarLeft>a{
        display: none;
    }

    /* products section */
    .imgDiv{
        width: 90%;
        margin: 0px 25px;
        margin-bottom: 30px;
    }
    #catalog{
        flex-direction: column;
    }
}
